<?xml version="1.0" encoding="UTF-8"?>
<!--Logback can operate without xml configuration file-->
<!--In this case it will attempt to use Java's ServiceLoader to locate-->
<!--an implementor of the com.qos.logback.classic.spi.Configurator and-->
<!--configure itself to log output directly to the console-->

<configuration debug="false" scan="true" scanPeriod="60 seconds"
               xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{yyyy dd MMMM HH:mm:ss} %c{1} Line:%line %message %n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>